.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: 1s all;
  opacity: 0;
}
.loading.show {
  opacity: 1;
}
.loading .spin {
  border: 3px solid hsla(185, 100%, 62%, 0.2);
  border-top-color: #3cefff;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 1s linear infinite;
}
@keyframes spin {
to {
  transform: rotate(360deg);
}
}            




html,body{
  font-family:"Raleway","Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  font-size: 14px;
  height:100%;
  width:100%;
  margin: 0px;
}
.fondo{
  background: url("/img/background.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  height: 100%;
}

span{
  font-size: 13px;
}

#container-login{
  display:flex;
  align-items: center;
  justify-content: center;
  
}
#card-login{
  width: 50%;
  height: 50%;
}
#card-login .card-header{
  color: rgba(255,255,255);
  background-color:  rgba(70, 68, 66, 0.897);
}
.form_login{
  width: 100%;
  height: 100%;
}

.container__nav{
  padding: 5px;
  background-color: rgba(70, 68, 66, 0.897);
}

.container__nav .navbar a{
  color:  rgba(255,255,255);
}

.container__nav .navbar .collapse .navbar-nav .nav-item .nav-link{
  color: rgba(255,255,255)
}

#boton_prioridad{
  margin: 0 auto;
  position:relative;
  margin-top: 10px;
  left:1%;
}

#boton_estado{

  margin: 0 auto;
  position:relative;
  margin-top: 10px;
  left:80%;

}

@media(max-width:768px){

  #boton_estado{
    margin: 0 auto;
    position:relative;
    margin: 0 auto;
    left: 45%;
  }


}


#boton{
  margin: 0 auto;
  position:relative;
  top:50%; 
  left:45%;
}

#mail{
  display: none;
}

#telefono{
  display: none;
}


.form_login div{
  padding: 20px;
  margin-right: 4px;
  margin-left: 4px;
}

#buton_login{
  background-color: rgba(70, 68, 66, 0.897);
  border: 1px solid #bbb;
  width: 100%;
}

.btn{
  font-size: 12px;
}

.table-responsive{
  display: flex;
}

/*Estilos - tabla */
.table-responsive .table thead tr{
  color: rgba(255,255,255);
  background-color: rgba(70, 68, 66, 0.897);
}

.table-responsive .table thead tr th{

  align-items: center;
  justify-content:center;

}

.table thead{
  width: 100%;
  height: 100%;
}
