body{
  font-family:"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  background-attachment: fixed;
}

#boton_prioridad{
  margin: 0 auto;
  position:relative;
  margin-top: 10px;
  left:1%;
}


#boton{
  margin: 0 auto;
  position:relative;
  top:50%; 
  left:45%;
}

#mail{
  display: none;
}

#telefono{
  display: none;
}