<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Registro de averías</title>
</head>

<body>
  <div class="container__nav">

    <nav id="nav" class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/pedido">SegRep</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/pedido">Pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/asignacion">Averias asignadas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cierres">Cierres realizados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tecnico">Técnicos disponibles</a>
              </li>
              <%if(user){%>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Salir</a>
              </li>
           <% }%>
          </ul>
        </div>
      </nav>
    </div>


    </nav>
 